@use '../colours.scss';

@mixin block {
    background-color: #fff;
    border: 1px solid var(--colour-border);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 3px 10px;
}

@mixin input {
    @include block;

    color: var(--colour-text-normal);
    outline-color: transparent;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: var(--colour-border-dark);
    }

    &:focus {
        border-color: var(--colour-active);
    }

    &:disabled {
        color: var(--colour-text-light);
    }
}

@mixin list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin reset-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
