
@mixin block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 3px 10px;
}

@mixin input {
    @include block;
    outline: none;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: #666;
    }

    &:focus {
        border-color: #9597ff;
    }
}

@mixin list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
