@use './common';

.crumb-listing {
  border-top: 1px solid var(--colour-border);
  padding: 0;
  
  &__results {
    @include common.list;
  }

  &__result {
    cursor: pointer;
    padding: 4px 10px;
    
    &--selected {
      font-weight: 800;
    }

    &--focus {
      background-color: var(--colour-active-light);
    }
  }

  &__breadcrumb {
    color: var(--colour-text-light);
    font-size: 0.7rem;
    line-height: 1;
  }
}
