.notice {
  --icon-size: 1.7rem;

  background-color: #666;
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgb(0 0 0 / 10%);
  cursor: pointer;
  display: grid;
  gap: 0 10px;
  grid-template-columns: var(--icon-size) 1fr;
  padding: 10px;
  text-align: left;
  transition: all 0.2s ease;

  &:hover {
    filter: brightness(1.05);
  }

  &--info {
    background-color: var(--colour-info);
  }
  &--warning {
    background-color: var(--colour-warning);
  }
  &--success {
    background-color: var(--colour-success);
  }

  &__icon {
    align-items: center;
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;

    svg {
      height: var(--icon-size);
      width: var(--icon-size);
    }
  }

  &__title {
    font-weight: 800;
  }

  &__body {
    font-size: 0.9rem;
    line-height: 1.2;
    opacity: 0.9;
  }
}
