@use '../colours.scss';

.btn {
    align-items: center;
    background-color: var(--colour-link);
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 6px 12px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--colour-active);
    }

    &:disabled {
        background-color: var(--colour-disabled);
        cursor: default;
    }

    &--alt {
        background-color: transparent;
        border: 1px solid var(--colour-link);
        color: var(--colour-link);

        &:hover {
            background-color: transparent;
            border-color: var(--colour-active);
            color: var(--colour-active);
        }
    
        &:disabled {
            background-color: transparent;
            border-color: var(--colour-disabled);
        }
    }

    &--large {
        font-size: 1.1rem;
        padding: 7px 28px;
    }
}
