@use '../colours.scss';

.checkbox {
  --checkbox-size: 1rem;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 0;

  &__icon {
    border: 1px solid var(--colour-border);
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--checkbox-size);
    overflow: hidden;
    width: var(--checkbox-size);

    &:after {
      background-color: var(--colour-active);
      border-radius: 3px;
      content: '';
      display: block;
      height: var(--checkbox-size);
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease-out;
      width: var(--checkbox-size);
    }
    &--checked {
      border-width: 0;
    }
    &--checked:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
