.confirm-modal {
  &__title {
    display: flex;
    margin: 0 0 8px 0;

    .icon {
      color: #f00;
      height: 1em;
      width: 1em;;
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 28px 0 0 0;
  }

  .modal__panel {
    width: 500px;
    padding: 25px;
  }
}
