@use '../colours.scss';
@use '../mixins/common';

.field {
    align-items: baseline;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 0 0.8rem 0;

    &__label {
        color: var(--colour-text-light);
        font-size: 0.9rem;
    }

    &__input {
        @include common.input;

        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 30px;
        width: 300px;
    }

    &__error {
        align-items: center;
        color: var(--colour-error);
        display: flex;
        font-size: 0.9rem;

        svg {
            margin: 0 0.3rem 0 0;
        }
    }

    &--error {
        .field__input {
            border-color: var(--colour-error);
        }
    }
}
