.loader {
  --colour-brand: #f00;
  --colour-dark: #111;
  --colour-light: #fff;
  --colour-grey: #666;

  --colour-loader: #999;
  --loader-height: 80px;

  margin: 0 auto;
  max-width: 150px;
  padding: 30px;

  &--tiny {
    --loader-height: 1.4rem;
  }
  &--small {
    --loader-height: 2.2rem;
  }

  &--dark {
    --colour-loader: var(--colour-dark);
  }
  &--light {
    --colour-loader: var(--colour-light);
  }
  &--grey {
    --colour-loader: var(--colour-grey);
  }
  &--brand {
    --colour-loader: var(--colour-brand);
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: var(--colour-loader);
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &--inline {
    max-width: 90%;
    padding: 0;

    .loader__container {
      flex-direction: row;
      gap: 0.6rem;
    }

    .loader__label {
      font-size: 1rem;
    }
  }

  svg {
    height: var(--loader-height);
    width: var(--loader-height);
  }
}
