.loader {
  margin: 0 auto;
  max-width: 150px;
  padding: 30px;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: #f00;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  svg {
    max-height: 80px;
  }
}
