
.modal {

    &__container {
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        inset: 0;
        justify-content: center;
        position: fixed;
    }

    &__panel {
        background-color: #fff;
        border-radius: 4px;
        max-width: 650px;
        padding: 18px;
        width: 100%;
    }
}
