@use '../mixins/common';

.select {
    position: relative;
    
    &__input {
        @include common.input;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        @include common.list;
        @include common.block;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
        left: 0;
        position: absolute;
        right: 0;
        top: 30px;
        z-index: 10;
    }

    &__option {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 300;
        padding: 3px 10px 3px 15px;
        text-align: left;

        &:hover {
            background-color: rgb(255, 234, 217);
            color: rgb(235, 106, 0);
        }

        &--selected {
            font-weight: 600;
        }
    }
}
