
.grid {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    &__table {
        text-align: left;
        width: 100%;
    }

    &__cell-head {
        padding: 0.5rem 1rem;

        &--sortable {
            cursor: pointer;
            user-select: none;
        }

    }

    &__cell-head-content {
        align-items: center;
        display: flex;
    }

    &__cell {
        padding: 0 1rem;
    }

    &__msg {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 200px;
        width: 100%;
    }
}
