
.grid {
    text-align: left;

    &__cell-head {
        padding: 0.5rem 1rem;

        &--sortable {
            cursor: pointer;
        }

        &--asc:after {
            content: ' A';
        }

        &--desc:after {
            content: ' D';
        }

        &--no-sort:after {
            content: ' -';
        }
    }

    &__cell {
        padding: 0 1rem;
    }
}
