
.grid {
    text-align: left;

    &__cell-head {
        padding: 0.5rem 1rem;

        &--sortable {
            cursor: pointer;
            user-select: none;
        }

    }

    &__cell-head-content {
        align-items: center;
        display: flex;
    }

    &__cell {
        padding: 0 1rem;
    }
}
